<!-- <section class="property-binding">
   <article>
      <h3>Interpolation/ Interpolação</h3>
      <p>String rederizada com interpolação: {{ url }}</p>
      <p>Resultado de 2 * 7 é {{ 2 * 7 }}</p>
      <p>Curso de angular curtir é: {{ cursoAngular && getCurtirCurso() }}</p>
   </article>
   <article>
      <h3>Property binding/ Ligação de propriedade</h3>
      <img src="{{ urlImagem }}">
      <img [src]="urlImagem">
   </article>
   <article>
    <h3>Event Binding</h3>
    <div>
      <button (click)="botaoClicado()" class="btn btn-primary">
        Click aqui
      </button>
       <br><br>
      <input type="text"
      (keyup)="onKeyUp($event)"
      (keyup.enter)="salvarValor(campoInput.value)"
      (blur)="salvarValor(campoInput.value)"
      #campoInput/>
      <p>sainda Input: {{ valorAtual }}</p>
      <p>sainda Input salvo: {{ valorSalvo }}</p>
      <br><br>
      <span
      (mouseover)="onMouseOverOut()"
      (mouseout)="onMouseOverOut()"
      [class.highLight]="isMouseOver"
      >
        Passe o mause aqui!
      </span>
    </div>
   </article>
</section> -->
<app-meu-form></app-meu-form>
